// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.site-header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3bbac1+0,151507+100 */
    background: #3bbac1; /* Old browsers */
    background: -moz-linear-gradient(left, #3bbac1 0%, #151507 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #3bbac1 0%,#151507 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #3bbac1 0%,#151507 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bbac1', endColorstr='#151507',GradientType=1 ); /* IE6-9 */
}

.site-header h1 {
    color:white;
}